 
.Rproj.user
site/.Rhistory
site/_site/*
node_modules
.env
.venv
site/site_libs/bootstrap/bootstrap-dark.min.css
site/site_libs/bootstrap/bootstrap-icons.css
site/site_libs/bootstrap/bootstrap-icons.woff
site/site_libs/bootstrap/bootstrap.min.css
site/site_libs/bootstrap/bootstrap.min.js
site/site_libs/clipboard/clipboard.min.js
site/site_libs/quarto-html/anchor.min.js
site/site_libs/quarto-html/popper.min.js
site/site_libs/quarto-html/quarto-syntax-highlighting-dark.css
site/site_libs/quarto-html/quarto-syntax-highlighting.css
site/site_libs/quarto-html/quarto.js
site/site_libs/quarto-html/tippy.css
site/site_libs/quarto-html/tippy.umd.min.js
site/site_libs/quarto-nav/quarto-nav.js
site/site_libs/quarto-search/autocomplete.umd.js
site/site_libs/quarto-search/fuse.min.js
site/site_libs/quarto-search/quarto-search.js
